<div class="pagecls">

  <!-- Page Header -->
  <div class="page-header">
    <div>
      <h3 class="page-title">Farm Management</h3>
    </div>

    <button class="btn blue-btn " (click)="farmModal.openModal()">
      <i class="bi bi-plus-lg me-2"></i>
      Add Farm
    </button>
  </div>

  <!-- Search Filters Section -->
  <div class="filters-card">
    <app-global-search
      [placeholder]="'Search by farm name , town or country'"
      [showStatus]="true"
      (search)="onSearch($event)"
      (statusChange)="onStatusChange($event)"
      (clear)="clearFilters()">
    </app-global-search>
  </div>

  <!-- Farms Table -->
  <div class="table-card">
    <app-reusable-table
      [columns]="columns"
      [showActions]="true"
      [data]="farms"
      [columnFields]="columnFields"
      [pageable]="true"
      [totalRecords]="totalRecords"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      (pageChange)="onPageChange($event)"
      (toggleActive)="onToggleActive($event)"
      (deleteRow)="onDelete($event)"
      (editRow)="farmModal.openModal(true, $event)">
    </app-reusable-table>
  </div>

  <!-- Add/Edit Modal -->
  <app-farm-add-edit #farmModal></app-farm-add-edit>

</div>
