<div class="container mt-4 mb-4">
  <div class="card shadow-sm border-0 rounded-4 p-4">

    <!-- Header -->
     <div class="d-flex align-items-center mb-4">
      <i class="bi bi-person-circle fs-2 me-3"></i>
      <h4 class="mb-0 fw-bold">Change Password</h4>
    </div>

    <!-- Form -->
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

      <!-- Row 1 -->
      <div class="row mt-3">
        <div class="col-md-4">
          <label class="form-label">Current Password <sup style="color: #f00; font-size: 12px;">*</sup></label>
          <input type="password" class="form-control" formControlName="currentPassword"
            [class.is-invalid]="isSubmitted() && f['currentPassword'].invalid">
        </div>

        <div class="col-md-4">
          <label class="form-label">New Password <sup style="color: #f00; font-size: 12px;">*</sup></label>
          <input type="password" class="form-control" formControlName="newPassword"
            [class.is-invalid]="isSubmitted() && f['newPassword'].invalid">

          <small class="text-danger" *ngIf="f['newPassword'].invalid && f['newPassword'].touched">
            Min 6 chars, 1 uppercase & 1 number required
          </small>
        </div>

        <div class="col-md-4">
          <label class="form-label">Confirm Password <sup style="color: #f00; font-size: 12px;">*</sup></label>
          <input type="password" class="form-control" formControlName="confirmPassword"
            [class.is-invalid]="isSubmitted() && changePasswordForm.hasError('mismatch')">

          <small class="text-danger" *ngIf="changePasswordForm.hasError('mismatch') && f['confirmPassword'].touched">
            Passwords do not match!
          </small>
        </div>
      </div>

      <!-- Submit -->
      <div class="d-flex justify-content-end mt-4">
        <button class="btn blue-btn px-4" type="submit" [disabled]="isLoading()">
          <i class="bi bi-arrow-repeat me-2" *ngIf="isLoading()"></i>
          {{ isLoading() ? 'Updating...' : 'Update Password' }}
        </button>
      </div>

    </form>
  </div>
</div>
