<div class="container-fluid mt-4">

   <div class="row">
    
    <div class="col-8 ">
      <h4 class="fw-semibold">Manage Users</h4>
      <app-global-search [label]="'users.searchFilters' | translate"
        [placeholder]="'users.searchPlaceholder' | translate" [showStatus]="true" (search)="onSearch($event)"
        (clear)="clearFilters()"
         (statusChange)="onStatusChange($event)"
        >
      </app-global-search>

    </div>

    <div class="col-4 text-end">
      <button class="btn blue-btn" (click)="userAddEdit.openModal()">
        {{ 'users.addUser' | translate }}
      </button>
    </div>
  </div>
  
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <app-reusable-table [columns]="columns" [showActions]="true" [data]="users" [columnFields]="columnFields"
        [pageable]="true" (toggleActive)="onToggleActive($event)" (deleteRow)="onDelete($event)"
        [totalRecords]="totalRecords" [pageSize]="pageSize" [pageIndex]="pageIndex" (pageChange)="onPageChange($event)"
        (editRow)="userAddEdit.openModal(true, $event)">
      </app-reusable-table>
    </div>
  </div>

  <app-addedit #userAddEdit></app-addedit>
</div>