<div class="pagecls">

  <!-- Page Header -->
  <div class="page-header">
    <div class="border-start border-4 ps-3">
      <h3 class="page-title">
        {{ 'material.heading' | translate }}
      </h3>
    </div>

    <div class="d-flex gap-2">

       <!-- EXPORT — visible to anyone who can add/edit materials -->
      <button *ngIf="canAddMaterials" class="btn add-btn"
              (click)="exportSampleCSV()">
        <i class="bi bi-download me-2"></i>
        Sample CSV
      </button>
      <button *ngIf="canAddMaterials" class="btn add-btn"
              (click)="exportMaterials()">
        <i class="bi bi-download me-2"></i>
        Export
      </button>

      <!-- IMPORT — visible to anyone who can add materials -->
      <label *ngIf="canAddMaterials" class="btn add-btn mb-0">
        <i class="bi bi-upload me-2"></i>
        Import
        <input type="file"
               hidden
               accept=".csv"
               (change)="importMaterials($event)">
      </label>

      <!-- ADD -->
      <button *ngIf="canAddMaterials" class="btn add-btn"
              (click)="materialModal.openModal()">
        <i class="bi bi-plus-lg me-2"></i>
        {{ 'material.addMaterial' | translate }}
      </button>

    </div>
  </div>

  <!-- Search Filters -->
  <div class="filters-card">
    <app-global-search
      [label]="'common.searchFilters' | translate"
      [placeholder]="'material.searchPlaceholder' | translate"
      [showStatus]="true"
      (search)="onSearch($event)"
      (statusChange)="onStatusChange($event)"
      (clear)="clearFilters()">
    </app-global-search>
  </div>

  <!-- Material Table -->
  <div class="table-card">
    <app-reusable-table
      [columns]="columns"
      [columnFields]="columnFields"
      [data]="materials"
      [showActions]="true"
      [pageable]="true"
      [totalRecords]="totalRecords"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [viewPermission]="viewPermission"
      [editPermission]="editPermission"
      [deletePermission]="deletePermission"
      (pageChange)="onPageChange($event)"
      (toggleActive)="onToggleActive($event)"
      (deleteRow)="onDelete($event)"
      (editRow)="materialModal.openModal(true, $event)">
    </app-reusable-table>
  </div>

  <app-material-add-edit #materialModal></app-material-add-edit>

</div>
