<div #modal class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ (isEdit ? 'parti.modal.editTitle' : 'parti.modal.addTitle') | translate }}</h5>
        <button class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label">{{ 'parti.fields.calvingDate' | translate }} <span class="text-danger">*</span></label>
              <input type="date" class="form-control" formControlName="calvingDate">
            </div>

            <div class="col-md-4">
              <label class="form-label">{{ 'parti.fields.cowId' | translate }}</label>
              <input type="text" class="form-control" formControlName="cowId" [placeholder]="'parti.placeholders.cowId' | translate">
            </div>

            <div class="col-md-4">
              <label class="form-label">{{ 'parti.fields.cowName' | translate }}</label>
              <input type="text" class="form-control" formControlName="cowName" [placeholder]="'parti.placeholders.cowName' | translate">
            </div>

            <div class="col-md-4">
              <label class="form-label">{{ 'parti.fields.calfGender' | translate }}</label>
              <select class="form-select" formControlName="calfGender">
                <option value="">{{ 'common.select' | translate }}</option>
                <option *ngFor="let g of genderOptions" [value]="g.value">{{ g.label | translate }}</option>
              </select>
            </div>

            <div class="col-md-4">
              <label class="form-label">{{ 'parti.fields.calvingType' | translate }}</label>
              <select class="form-select" formControlName="calvingType">
                <option *ngFor="let t of typeOptions" [value]="t">{{ t | translate }}</option>
              </select>
            </div>

            <div class="col-md-4">
              <label class="form-label">{{ 'parti.fields.calvingOutcome' | translate }}</label>
              <select class="form-select" formControlName="calvingOutcome">
                <option *ngFor="let o of outcomeOptions" [value]="o">{{ o | translate }}</option>
              </select>
            </div>

            <div class="col-md-4">
              <label class="form-label">{{ 'parti.fields.calfWeightKg' | translate }}</label>
              <input type="number" class="form-control" formControlName="calfWeightKg" min="0" step="0.1">
            </div>

            <div class="col-12">
              <label class="form-label">{{ 'parti.fields.notes' | translate }}</label>
              <textarea class="form-control" formControlName="notes" rows="2" [placeholder]="'parti.placeholders.notes' | translate"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" (click)="closeModal()">{{ 'common.cancel' | translate }}</button>
        <button class="btn add-btn" [disabled]="isSaving" (click)="save()">
          {{ isSaving ? ('common.saving' | translate) : ((isEdit ? 'common.update' : 'common.save') | translate) }}
        </button>
      </div>
    </div>
  </div>
</div>
