<div #animalTypeModal class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">

      <!-- HEADER -->
      <div class="modal-header">
        <h5 class="modal-title">
          {{ isEdit ? 'Edit Animal Type' : 'Add Animal Type' }}
        </h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>

      <!-- BODY -->
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="container-fluid">
            <div class="row g-3">

              <!-- <div class="col-12">
                <h5 class="mb-3">Animal Type Details</h5>
              </div> -->

             

              <!-- English Name -->
              <div class="col-12">
                <label class="form-label">
                  Animal Type Name (English)
                  <sup style="color: red; font-size: 12px;">*</sup>
                </label>

                <input
                  type="text"
                  class="form-control"
                  formControlName="typeNameEn"
                  placeholder="Enter English name"
                />

                <div *ngIf="form.get('typeNameEn')?.touched && form.get('typeNameEn')?.invalid" class="text-danger">
                  <div *ngIf="form.get('typeNameEn')?.errors?.['required']">English name is required.</div>
                  <div *ngIf="form.get('typeNameEn')?.errors?.['minlength']">Minimum 2 characters.</div>
                  <div *ngIf="form.get('typeNameEn')?.errors?.['maxlength']">Maximum 20 characters.</div>
                  <div *ngIf="form.get('typeNameEn')?.errors?.['pattern']">Animal Type Name can only contain alphabets.</div>
                </div>
              </div>

                <!-- Italian Name -->
              <div class="col-12">
                <label class="form-label">
                  Animal Type Name (Italian)
                  <!-- <sup style="color: red; font-size: 12px;">*</sup> -->
                </label>

                <input
                  type="text"
                  class="form-control"
                  formControlName="typeNameIt"
                  placeholder="Enter Italian name"
                />

                <div *ngIf="form.get('typeNameIt')?.touched && form.get('typeNameIt')?.invalid" class="text-danger">
                  <!-- <div *ngIf="form.get('typeNameIt')?.errors?.['required']">Italian name is required.</div> -->
                  <div *ngIf="form.get('typeNameIt')?.errors?.['minlength']">Minimum 3 characters.</div>
                  <div *ngIf="form.get('typeNameIt')?.errors?.['maxlength']">Maximum 20 characters.</div>
                  <div *ngIf="form.get('typeNameIt')?.errors?.['pattern']">Animal Type Name can only contain alphabets.</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- FOOTER -->
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
        <button class="btn add-btn" (click)="save()">
          {{ isEdit ? 'Update' : 'Save' }}
        </button>
      </div>

    </div>
  </div>
</div>
