<div class="pagecls">

  <!-- Page Header -->
  <div class="page-header">
    <div class="border-start border-4 ps-3">
      <h3 class="page-title">{{ 'feed.Heading' | translate  }}</h3>
    </div>

    <button *ngIf="canAddFeed" class="btn add-btn" (click)="openAddFeedModal()">
      <i class="bi bi-plus-lg me-2"></i>
      {{ 'feed.addFeed' | translate  }}
    </button>
  </div>

  <!-- Search Filters Section -->
  <div class="filters-card">
    <app-global-search
     [label]="'role.searchFilters' | translate"
      [placeholder]="'feed.searchByFeedCategoryPrice'| translate"
      [showStatus]="true"
      (search)="onSearch($event)"
      (statusChange)="onStatusChange($event)"
      (clear)="clearFilters()">
    </app-global-search>
  </div>

  <!-- Feeds Table -->
  <div class="table-card">
    <app-reusable-table
      [columns]="columns"
      [showActions]="true"
      [data]="feeds"
      [columnFields]="columnFields"
      [pageable]="true"
      [totalRecords]="totalRecords"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [viewPermission]="viewPermission"
      [editPermission]="editPermission"
      [deletePermission]="deletePermission"
      (pageChange)="onPageChange($event)"
      (toggleActive)="onToggleActive($event)"
      (deleteRow)="onDelete($event)"
      (editRow)="feedModal.openModal(true, $event)">
    </app-reusable-table>
  </div>

  <!-- Add/Edit Modal -->
<app-feed-add-edit #feedModal></app-feed-add-edit>

</div>
