<div *ngIf="visible" class="common-modal-overlay">
  <div class="common-modal">
    <!-- Header -->
    <div class="common-modal-header">
      <h5>{{ title }}</h5>
      <button type="button" class="close-btn" (click)="close()">&times;</button>
    </div>

    <!-- Body -->
    <div class="common-modal-body">
      <ng-content></ng-content>
    </div>

    <!-- Footer -->
    <div class="common-modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">{{ 'common.cancel' | translate }}</button>
      <button type="button" class="btn add-btn" (click)="save.emit()">{{ 'common.save' | translate }}</button>
    </div>
  </div>
</div>
