<div class="container mt-4 mb-4" *ngIf="companyForm">
  <div class="card shadow-sm border-0 rounded-4 p-4">

    <h4 class="fw-bold mb-3">{{'companysetting.companysettings' | translate}}</h4>

    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">

      <!-- Logo -->
      <div class="text-center mb-4">
        <!-- <label class="form-label fw-bold">Company Logo</label> -->
        <div class="img-container">

          <!-- Image preview -->
          <img *ngIf="imagePreview" [src]="imagePreview" class="profile-img" />

          <!-- Placeholder -->
          <span *ngIf="!imagePreview">
            <svg width="120px" height="116px" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="#494c4e"
                  d="M9 0a9 9 0 0 0-9 9 8.654 8.654 0 0 0 .05.92 9 9 0 0 0 17.9 0A8.654 8.654 0 0 0 18 9a9 9 0 0 0-9-9zm5.42 13.42c-.01 0-.06.08-.07.08a6.975 6.975 0 0 1-10.7 0c-.01 0-.06-.08-.07-.08a.512.512 0 0 1-.09-.27.522.522 0 0 1 .34-.48c.74-.25 1.45-.49 1.65-.54a.16.16 0 0 1 .03-.13.49.49 0 0 1 .43-.36l1.27-.1a2.077 2.077 0 0 0-.19-.79v-.01a2.814 2.814 0 0 0-.45-.78 3.83 3.83 0 0 1-.79-2.38A3.38 3.38 0 0 1 8.88 4h.24a3.38 3.38 0 0 1 3.1 3.58 3.83 3.83 0 0 1-.79 2.38 2.814 2.814 0 0 0-.45.78v.01a2.077 2.077 0 0 0-.19.79l1.27.1a.49.49 0 0 1 .43.36.16.16 0 0 1 .03.13c.2.05.91.29 1.65.54a.49.49 0 0 1 .25.75z" />
              </svg>
          </span>

          <!-- SINGLE hidden file input -->
          <input #fileInput type="file" (change)="onLogoSelected($event)" class="form-control" accept="image/png,image/jpeg"
                                    formControlName="logo" appImageValidator [width]="300" [height]="300"
                                    [maxSizeMB]="2" />

          <!-- DELETE (TRASH) — ACTUALLY DELETES -->
          <button *ngIf="imagePreview" type="button" class="upload-btn" (click)="removeImage()">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <polyline points="3 6 5 6 21 6"></polyline>
              <path d="M19 6l-1 14H6L5 6"></path>
              <path d="M10 11v6"></path>
              <path d="M14 11v6"></path>
              <path d="M9 6V4h6v2"></path>
            </svg>
          </button>

          <!-- PLUS — UPLOAD / REPLACE -->
          <!-- <label for="profileUpload" class="plus-btn">
            +
          </label> -->

        </div>
        <p class="form-label fw-bold mb-2">{{'companysetting.companylogo' | translate}}</p>
        <!-- Validation / Helper text -->
        <ng-container *ngIf="companyForm.get('logo') as logoCtrl">

          <!-- ERROR messages -->
          <div class="text-danger mt-1" *ngIf="logoCtrl.touched && logoCtrl.errors">
            <small *ngIf="logoCtrl.errors['required']">
              {{'imageValidator.imageRequired' | translate}}
            </small>

            <small *ngIf="logoCtrl.errors['invalidType']">
              {{'imageValidator.invalidType' | translate}}
            </small>

            <small *ngIf="logoCtrl.errors['maxSizeExceeded']">
              {{'imageValidator.maxSizeExceeded' | translate}}
            </small>

            <small *ngIf="logoCtrl.errors['invalidDimension']">
              {{'imageValidator.invalidDimensions' | translate}}
            </small>
          </div>

          <!-- DEFAULT helper text -->
          <small class="text-secondary" *ngIf="!logoCtrl.touched || !logoCtrl.errors">
            {{'imageValidator.allowedImages' | translate}}
          </small>

        </ng-container>

      </div>

      <!-- Company Info -->
      <div class="row">
        <div class="col-md-6">
          <label>{{'companysetting.companyName' | translate}}<sup class="text-danger">*</sup></label>
          <input formControlName="companyName" class="form-control">
          <div
            *ngIf="companyForm.get('companyName')?.invalid && (companyForm.get('companyName')?.touched || companyForm.get('companyName')?.dirty)"
            class="text-danger">
            <small *ngIf="companyForm.get('companyName')?.errors?.['required']">{{'company.companyNameRequired' | translate}}</small>
            <small *ngIf="companyForm.get('companyName')?.errors?.['maxlength']">{{'validation.maxLength' | translate}}</small>
          </div>
        </div>
        <div class="col-md-6">
          <label>{{'companysetting.email' | translate}} <sup class="text-danger">*</sup></label>
          <input formControlName="email" class="form-control">
          <div
            *ngIf="companyForm.get('email')?.invalid && (companyForm.get('email')?.touched || companyForm.get('email')?.dirty)"
            class="text-danger">
            <small *ngIf="companyForm.get('email')?.errors?.['required']">{{'validation.emailRequired' | translate}}</small>
            <small *ngIf="companyForm.get('email')?.errors?.['email']">{{'validation.invalidEmail' | translate}}</small>
          </div>
        </div>
      </div>

      <!-- Phone & Address -->
      <div class="row mt-3">
        <div class="col-md-6">
          <label>{{'companysetting.phoneNumber' | translate}} <sup class="text-danger">*</sup></label>
          <input formControlName="phoneNumber" class="form-control">
          <div
            *ngIf="companyForm.get('phoneNumber')?.invalid && (companyForm.get('phoneNumber')?.touched || companyForm.get('phoneNumber')?.dirty)"
            class="text-danger">
            <small *ngIf="companyForm.get('phoneNumber')?.errors?.['required']">{{'validation.phoneNumberRequired' | translate}}</small>
            <small *ngIf="companyForm.get('phoneNumber')?.errors?.['onlyNumbers']">{{'validation.onlyNumbers' | translate}}</small>
            <small
              *ngIf="companyForm.get('phoneNumber')?.errors?.['minlength'] ||
               companyForm.get('phoneNumber')?.errors?.['maxlength']">{{'validation.phoneNumberLength' | translate}}</small>
          </div>
        </div>
        <div class="col-md-6">
          <label>{{'companysetting.address' | translate}} <sup class="text-danger">*</sup></label>
          <input formControlName="streetAddress" class="form-control">
          <div
            *ngIf="companyForm.get('streetAddress')?.invalid && (companyForm.get('streetAddress')?.touched || companyForm.get('streetAddress')?.dirty)"
            class="text-danger">
            <small *ngIf="companyForm.get('streetAddress')?.errors?.['required']">
              {{'validation.streetAddressRequired' | translate}}</small>
            <small *ngIf="companyForm.get('streetAddress')?.errors?.['maxlength']">{{'validation.streetAddressMaxLength' | translate}}</small>
          </div>
        </div>
      </div>

      <!-- City, Country, Zip -->
      <div class="row mt-3">
        <div class="col-md-4">
          <label>{{'address.city' | translate}} <sup class="text-danger">*</sup></label>
          <input formControlName="city" class="form-control">
          <div
            *ngIf="companyForm.get('city')?.invalid && (companyForm.get('city')?.touched || companyForm.get('city')?.dirty)"
            class="text-danger">
            <small *ngIf="companyForm.get('city')?.errors?.['required']">{{'validation.cityRequired' | translate}}</small>
            <small *ngIf="companyForm.get('city')?.errors?.['onlyChars']">{{'validation.onlyChars' | translate}}</small>
            <small
              *ngIf="companyForm.get('city')?.errors?.['minlength'] || 
              companyForm.get('city')?.errors?.['maxlength']">{{'validation.minmax' | translate}}</small>
          </div>
        </div>
        <div class="col-md-4">
          <label>{{'address.country' | translate}} <sup class="text-danger">*</sup></label>
          <input formControlName="country" class="form-control">
          <div
            *ngIf="companyForm.get('country')?.invalid && (companyForm.get('country')?.touched || companyForm.get('country')?.dirty)"
            class="text-danger">
            <small *ngIf="companyForm.get('country')?.errors?.['required']">{{'validation.countryRequired' | translate}}</small>
            <small *ngIf="companyForm.get('country')?.errors?.['onlyChars']">{{'validation.onlyChars' | translate}}</small>
            <small
              *ngIf="companyForm.get('country')?.errors?.['minlength'] || 
              companyForm.get('country')?.errors?.['maxlength']">{{'validation.minmax' | translate}}</small>
          </div>
        </div>
        <div class="col-md-4">
          <label>{{'address.zipCode' | translate}} <sup class="text-danger">*</sup></label>
          <input formControlName="zipCode" class="form-control">
          <div
            *ngIf="companyForm.get('zipCode')?.invalid && (companyForm.get('zipCode')?.touched || companyForm.get('zipCode')?.dirty)"
            class="text-danger">
            <small *ngIf="companyForm.get('zipCode')?.errors?.['required']">
              {{'addressValidation.zipCodeRequired' | translate}}</small>
            <small *ngIf="companyForm.get('zipCode')?.errors?.['onlyNumbers']">{{'addressValidation.invalidZipCode' | translate}}</small>
            <small
              *ngIf="companyForm.get('zipCode')?.errors?.['minlength'] || companyForm.get('zipCode')?.errors?.['maxlength']">{{'addressValidation.zipCodeLength' | translate}}</small>
          </div>
        </div>
      </div>

      <!-- Dates -->
      <!-- <div class="row mt-3">
        <div class="col-md-6">
          <label>Effective Date</label>
          <input type="date" formControlName="effectiveDate" class="form-control">
        </div>
        <div class="col-md-6">
          <label>Expiry Date</label>
          <input type="date" formControlName="expiryDate" class="form-control">
        </div>
      </div> -->

      <div class="text-end mt-4">
        <button *ngIf="canSave" class="btn add-btn px-4" type="submit" [disabled]="companyForm.invalid">{{'companysetting.saveSettings' | translate}}</button>
      </div>

    </form>


  </div>
</div>
