.template-tabs .nav-tabs {
  border-bottom: 1px solid var(--border-color);
}

.template-tabs .nav-tabs .nav-link {
  position: relative;            
  color: var(--text-muted);
  border: none;
  background: transparent;
  font-weight: var(--font-500);
  padding: 10px 18px;
}

.template-tabs .nav-tabs .nav-link:hover {
  color: var(--primary-color);
}

.template-tabs .nav-tabs .nav-link.active {
  color: var(--primary-color) !important;
  font-weight: var(--font-600);
  background-color: transparent !important;
}

.template-tabs .nav-tabs .nav-link.active::after {
  content: '';
  position: absolute;
  left: 0;                       
  right: 0;                       
  bottom: -8px;                   
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 4px;
}


.template-tabs .nav-tabs .nav-link:focus,
.template-tabs .nav-tabs .nav-link:active {
  box-shadow: none;
  outline: none;
}
