<div #companyModal class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ isEdit ? ('company.edit' | translate) : ('company.add' | translate) }}</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                <form [formGroup]="form">
                    <div class="container-fluid">
                        <div class="row g-3">
                            <div class="col-12">
                                <h5 class="mb-3">{{ 'company.details' | translate }}</h5>
                            </div>

                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.companyName' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="text" class="form-control" formControlName="companyName"
                                    placeholder="Enter company name">
                                <div *ngIf="form.get('companyName')?.touched && form.get('companyName')?.invalid"
                                    class="text-danger">
                                    Company Name is required
                                </div>
                                <div *ngIf="form.get('companyName')?.errors?.['pattern']" class="text-danger">
                                    Company Name can only contain letters, spaces and hyphens.
                                </div>
                                <div *ngIf="form.get('companyName')?.errors?.['minlength']" class="text-danger">
                                    Company Name must be at least 3 characters long.
                                </div>
                                <div *ngIf="form.get('companyName')?.errors?.['maxlength']" class="text-danger">
                                    Company Name cannot exceed 50 characters.
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.code' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="text" class="form-control" formControlName="code"
                                    placeholder="Company code">
                                <div *ngIf="form.get('code')?.touched && form.get('code')?.invalid" class="text-danger">
                                    Code is required
                                </div>
                            </div>

                            <!-- <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.suffix' | translate }}</label>
                                <input type="text" class="form-control" formControlName="suffix" placeholder="Suffix (e.g., Ltd)">
                            </div> -->

                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.website' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="url" class="form-control" formControlName="url"
                                    placeholder="https://example.com">
                                <div *ngIf="form.get('url')?.touched && form.get('url')?.invalid" class="text-danger">
                                    Website URL is required
                                </div>
                            </div>

                            <!-- <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.primaryColor' | translate }}</label>
                                <input type="color" class="form-control form-control-color" formControlName="primaryColor" title="Choose primary color">
                          
                                <div *ngIf="form.get('primaryColor')?.touched && form.get('primaryColor')?.invalid" class="text-danger">
                                Primary Color is required
                              </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.secondaryColor' | translate }}</label>
                                <input type="color" class="form-control form-control-color" formControlName="secondaryColor" title="Choose secondary color">
                            </div> -->

                           <div class="col-md-4 col-12">
                                <label class="form-label">
                                    {{ 'company.logo' | translate }}
                                    <sup style="color: #f00; font-size: 12px;">*</sup>
                                </label>

                                 <input
                                    #fileInput
                                    type="file"
                                    class="form-control"
                                    accept="image/png,image/jpeg"
                                    appImageValidator
                                    controlName="logo"
                                    [width]="300"
                                    [height]="300"
                                    [maxSizeMB]="2"
                                />

                                 <div
                                    class="text-danger mt-1"
                                    *ngIf="form.get('logo')?.touched && form.get('logo')?.errors"
                                >
                                    <small *ngIf="form.get('logo')?.errors?.['required']">
                                    Logo is required
                                    </small>

                                    <small *ngIf="form.get('logo')?.errors?.['invalidType']">
                                    Only PNG or JPG images are allowed
                                    </small>

                                    <small *ngIf="form.get('logo')?.errors?.['maxSizeExceeded']">
                                    Image size must be less than 2 MB
                                    </small>

                                    <small *ngIf="form.get('logo')?.errors?.['invalidDimension']">
                                    Image must be exactly 300 × 300 pixels
                                    </small>
                                </div>
                                                                </div>

                                <div class="col-md-4 col-12" *ngIf="form.get('logo')?.value">
                                <div class="logo-preview-wrapper">

                                    <img
                                    class="logo-preview-img"
                                    [src]="form.get('logo')?.value"
                                    alt="Logo Preview"
                                    />

                                    <button
                                    type="button"
                                    class="remove-logo-btn"
                                    (click)="removeLogo()"
                                    title="Remove Logo"
                                    >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="white" viewBox="0 0 16 16">
                                        <path d="M2.5 2.5l11 11m0-11l-11 11" stroke="white" stroke-width="2" />
                                    </svg>
                                    </button>

                                </div>
                                </div>



                            <div class="col-12 mt-3">
                                <h5 class="mb-3">{{ 'company.primaryUser' | translate }}</h5>
                            </div>

                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.firstName' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="text" class="form-control" formControlName="firstName"
                                    placeholder="First name">

                                <div *ngIf="form.get('firstName')?.touched && form.get('firstName')?.invalid"
                                    class="text-danger">
                                    First Name is required
                                </div>
                                <div *ngIf="form.get('firstName')?.errors?.['pattern']" class="text-danger">
                                    First Name can only contain alphabets.
                                </div>

                            </div>
                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.lastName' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="text" class="form-control" formControlName="lastName"
                                    placeholder="Last name">
                                <div *ngIf="form.get('lastName')?.touched && form.get('lastName')?.invalid"
                                    class="text-danger">
                                    Last Name is required
                                </div>
                                <div *ngIf="form.get('lastName')?.errors?.['pattern']" class="text-danger">
                                    Last Name can only contain alphabets.
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.userEmail' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="email" class="form-control" formControlName="email"
                                    placeholder="user@example.com">
                                <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
                                    class="text-danger">
                                    User Email is required
                                </div>
                                <div *ngIf="form.get('email')?.errors?.['email']" class="text-danger">
                                    Please enter a valid email address.
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.phoneNumber' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="tel" class="form-control" formControlName="phoneNumber"
                                    placeholder="555 555 5555">
                                <div *ngIf="form.get('phoneNumber')?.touched" class="text-danger">

                                    <!-- Required -->
                                    <div *ngIf="form.get('phoneNumber')?.errors?.['required']">
                                        Phone Number is required.
                                    </div>

                                    <!-- Minimum length -->
                                    <div *ngIf="form.get('phoneNumber')?.errors?.['minlength']">
                                        Phone Number must be at least 10 digits.
                                    </div>
                                    <!-- Maximum length -->
                                    <div *ngIf="form.get('phoneNumber')?.errors?.['maxlength']">
                                        Phone Number must be at most 10 digits.
                                    </div>
                                    <!-- Only numbers allowed -->
                                    <div *ngIf="form.get('phoneNumber')?.errors?.['pattern']">
                                        Phone Number must contain digits only.
                                    </div>

                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <h5 class="mb-3">{{ 'company.address' | translate }}</h5>
                            </div>

                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.streetAddress' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="text" class="form-control" formControlName="streetAddress"
                                    placeholder="Street address">
                                <div *ngIf="form.get('streetAddress')?.touched && form.get('streetAddress')?.invalid"
                                    class="text-danger">
                                    Street Address is required
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.city' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="text" class="form-control" formControlName="city" placeholder="City">
                                <div *ngIf="form.get('city')?.touched && form.get('city')?.invalid" class="text-danger">
                                    City is required
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.zipCode' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="text" class="form-control" formControlName="zipCode"
                                    placeholder="Zip / Postal code">
                                <div *ngIf="form.get('zipCode')?.touched && form.get('zipCode')?.invalid"
                                    class="text-danger">
                                    Zip Code is required
                                </div>
                                <div *ngIf="form.get('zipCode')?.errors?.['pattern']" class="text-danger">
                                    Zip Code can only contain numbers.
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.country' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="text" class="form-control" formControlName="country" placeholder="Country">
                                <div *ngIf="form.get('country')?.touched && form.get('country')?.invalid"
                                    class="text-danger">
                                    Country is required
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <h5 class="mb-3">{{ 'company.account' | translate }}</h5>
                            </div>

                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.userFirstName' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="text" class="form-control" formControlName="userFirstName"
                                    placeholder="First name">
                                <div *ngIf="form.get('userFirstName')?.touched && form.get('userFirstName')?.invalid"
                                    class="text-danger">
                                    User First Name is required
                                </div>
                                <div *ngIf="form.get('userFirstName')?.errors?.['pattern']" class="text-danger">
                                    User First Name can only contain alphabets.
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.userMiddleName' | translate }}</label>
                                <input type="text" class="form-control" formControlName="userMiddleName"
                                    placeholder="Middle name">
                                <!-- Middle Name is optional, so no required validation message -->
                                <div *ngIf="form.get('userMiddleName')?.errors?.['pattern']" class="text-danger">
                                    User Middle Name can only contain alphabets.
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.userLastName' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="text" class="form-control" formControlName="userLastName"
                                    placeholder="Last name">
                                <div *ngIf="form.get('userLastName')?.touched && form.get('userLastName')?.invalid"
                                    class="text-danger">
                                    User Last Name is required
                                </div>
                                <div *ngIf="form.get('userLastName')?.errors?.['pattern']" class="text-danger">
                                    User Last Name can only contain alphabets.
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.adminEmail' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="email" class="form-control" formControlName="userEmail"
                                    placeholder="admin@example.com">
                                <div *ngIf="form.get('userEmail')?.touched && form.get('userEmail')?.invalid"
                                    class="text-danger">
                                    Admin Email is required
                                </div>
                                <div *ngIf="form.get('userEmail')?.errors?.['email']" class="text-danger">
                                    Please enter a valid email address.
                                </div>

                            </div>
                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.phoneNumber' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <input type="tel" class="form-control" formControlName="userPhoneNumber"
                                    placeholder="555 555 5555">
                                <div *ngIf="form.get('userPhoneNumber')?.touched" class="text-danger">

                                    <!-- Required -->
                                    <div *ngIf="form.get('userPhoneNumber')?.errors?.['required']">
                                        Phone Number is required.
                                    </div>

                                    <!-- Minimum length -->
                                    <div *ngIf="form.get('userPhoneNumber')?.errors?.['minlength']">
                                        Phone Number must be at least 10 digits.
                                    </div>

                                    <!-- Maximum length -->
                                    <div *ngIf="form.get('userPhoneNumber')?.errors?.['maxlength']">
                                        Phone Number must be at most 10 digits.
                                    </div>
                                    <!-- Only numbers allowed -->
                                    <div *ngIf="form.get('userPhoneNumber')?.errors?.['pattern']">
                                        Phone Number must contain digits only.
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.userRole' | translate }}<sup
                                        style="color: #f00; font-size: 12px;">*</sup></label>
                                <select class="form-select" formControlName="roleId">
                                    <option value="">{{ 'common.selectRole' | translate }}</option>
                                    <option *ngFor="let role of roleList" [value]="role.roleId">{{ role.nameEn }}(
                                        {{role.nameIt}})</option>
                                </select>
                                <!-- <div *ngIf="form.get('roleId')?.touched && form.get('roleId')?.invalid" class="text-danger">
                                User Role is required
                                </div> -->
                            </div>

                            <div class="col-md-4 col-12">
                                <label class="form-label">{{ 'company.password' | translate }}</label>
                                <div class="input-group">
                                    <input [type]="!showCurrent ? 'password' : 'text'" autocomplete="off" class="form-control"
                                        formControlName="password" placeholder="Enter password">
                                    <span class="input-group-text" role="button" (click)="showCurrent = !showCurrent">
                                        <i class="fa" [ngClass]="showCurrent ? 'fa-eye' : 'fa-eye-slash'"></i>
                                    </span>
                                </div>
                                <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
                                    class="text-danger">
                                    Password is required
                                </div>
                                <div *ngIf="form.get('password')?.errors?.['minlength']" class="text-danger">
                                    Password must be at least 8 characters long.
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-secondary" (click)="closeModal()">{{ 'common.cancel' | translate
                    }}</button>
                <button class="btn add-btn" (click)="saveCompany()">{{ 'common.save' | translate }}</button>
            </div>

        </div>
    </div>
</div>
