<div class="container mt-4 mb-4" *ngIf="profileForm">
  <div class="card shadow-sm border-0 rounded-4 p-4">

    <div class="d-flex align-items-center mb-4">
      <i class="bi bi-person-circle fs-2 me-3"></i>
      <h4 class="mb-0 fw-bold">Update Profile</h4>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

      <div class="row mb-3 display-flex align-items-center">
        <div class="col-md-12 text-center">
  <label class="form-label fw-bold">Profile Photo</label>

  <div class="img-container">
    <img *ngIf="imagePreview" [src]="imagePreview" class="profile-img" />
    <span *ngIf="!imagePreview"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="120" height="120" viewBox="0 0 512 512">
<path fill="#32BEA6" d="M7.9,256C7.9,119,119,7.9,256,7.9C393,7.9,504.1,119,504.1,256c0,137-111.1,248.1-248.1,248.1C119,504.1,7.9,393,7.9,256z"></path><path fill="#FFF" d="M391.5,214.5H297v-93.9c0-4-3.2-7.2-7.2-7.2h-68.1c-4,0-7.2,3.2-7.2,7.2v93.9h-93.9c-4,0-7.2,3.2-7.2,7.2v69.2c0,4,3.2,7.2,7.2,7.2h93.9v93.4c0,4,3.2,7.2,7.2,7.2h68.1c4,0,7.2-3.2,7.2-7.2v-93.4h94.5c4,0,7.2-3.2,7.2-7.2v-69.2C398.7,217.7,395.4,214.5,391.5,214.5z"></path>
</svg></span>
    <div class="action-buttons mt-2">
      <label class="upload-btn">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="me-1">
          <path d="M14.5 4H9.5L8 6H4v14h16V6h-4l-1.5-2z" />
          <circle cx="12" cy="13" r="4" />
        </svg>
        
        <input type="file" #fileInput (change)="onProfileImageChange($event)" hidden />
      </label>
      <button *ngIf="imagePreview" class="delete-btn ms-2" type="button" (click)="removeImage()">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <polyline points="3 6 5 6 21 6"></polyline>
          <path d="M19 6l-1 14H6L5 6"></path>
          <path d="M10 11v6"></path>
          <path d="M14 11v6"></path>
          <path d="M9 6V4h6v2"></path>
        </svg>
        
      </button>
    </div>
  </div>

  <small class="text-secondary">Allowed: PNG, JPG, JPEG</small>
</div>


      </div>
      <div class="row mt-3">

        <div class="col-md-4">
          <label class="form-label">First Name <sup style="color: #f00; font-size: 12px;">*</sup></label>
          <input type="text" class="form-control" formControlName="firstName">

          <div class="text-danger mt-1"
            *ngIf="profileForm.get('firstName')?.touched && profileForm.get('firstName')?.invalid">
            <small *ngIf="profileForm.get('firstName')?.errors?.['required']">First name is required.</small>
            <small *ngIf="profileForm.get('firstName')?.errors?.['minlength']">Minimum 3 characters required.</small>
            <small *ngIf="profileForm.get('firstName')?.errors?.['maxlength']">Maximum length is 50 characters.</small>
            <small *ngIf="profileForm.get('firstName')?.errors?.['pattern']">Only alphabets are allowed.</small>
          </div>
        </div>


        <div class="col-md-4">
          <label class="form-label">Middle Name</label>
          <input type="text" class="form-control" formControlName="middleName">
          <div class="text-danger mt-1"
            *ngIf="profileForm.get('middleName')?.touched && profileForm.get('middleName')?.invalid">
            <small *ngIf="profileForm.get('middleName')?.errors?.['minlength']">Minimum 3 characters required.</small>
            <small *ngIf="profileForm.get('middleName')?.errors?.['maxlength']">Maximum length is 50 characters.</small>
            <small *ngIf="profileForm.get('middleName')?.errors?.['pattern']">Only alphabets are allowed.</small>
          </div>
        </div>

        <div class="col-md-4">
          <label class="form-label">Last Name <sup style="color: #f00; font-size: 12px;">*</sup></label>
          <input type="text" class="form-control" formControlName="lastName">

          <div class="text-danger mt-1"
            *ngIf="profileForm.get('lastName')?.touched && profileForm.get('lastName')?.invalid">
            <small *ngIf="profileForm.get('lastName')?.errors?.['required']">Last name is required.</small>
            <small *ngIf="profileForm.get('lastName')?.errors?.['minlength']">Minimum 3 characters required.</small>
            <small *ngIf="profileForm.get('lastName')?.errors?.['maxlength']">Maximum length is 50 characters.</small>
            <small *ngIf="profileForm.get('lastName')?.errors?.['pattern']">Only alphabets are allowed.</small>
          </div>
        </div>

      </div>

      <div class="row mt-3">
        <div class="col-md-4">
          <label class="form-label">Email (Not Editable) </label>
          <input type="email" class="form-control" formControlName="email" readonly>
        </div>

        <div class="col-md-4">
          <label class="form-label">Phone Number <sup style="color: #f00; font-size: 12px;">*</sup></label>
          <input type="text" class="form-control" formControlName="phone">

          <div class="text-danger mt-1" *ngIf="profileForm.get('phone')?.touched && profileForm.get('phone')?.invalid">
            <small *ngIf="profileForm.get('phone')?.errors?.['required']">Phone number is required.</small>
            <small *ngIf="profileForm.get('phone')?.errors?.['pattern']">Phone number must be numeric and exactly 10
              digits.</small>
          </div>
        </div>

      </div>

      <div class="d-flex justify-content-end mt-4">
        <button class="btn add-btn px-4" type="submit" >
          <i class="bi bi-save2 me-2"></i> Update Profile
        </button>

      </div>

    </form>

  </div>
</div>