<section class="dashboard-main-sec">
    <div class="main-container " style="display: flex; gap: 0;">
        <div class="sidebar" style="flex-shrink: 0;">
            <div class="sidebar-inner">
                <div class="menu-top">
                    <div class="side-logo d-flex align-items-center gap-2 mb-30"><img alt=""
                            src="assets/image/small-logo.png">

                    </div>
                    <div class="side-menus">
                        <div class="side-menu-item">
                            <a routerLink="/dashboard" routerLinkActive="active" data-discover="true"><span
                                    class="side-item-icon">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.63093 17.3095V14.7539C7.63092 14.1039 8.16085 13.5757 8.81743 13.5713H11.2225C11.8822 13.5713 12.417 14.1008 12.417 14.7539V14.7539V17.3175C12.4169 17.8694 12.8618 18.3204 13.4191 18.3334H15.0225C16.6209 18.3334 17.9166 17.0506 17.9166 15.4682V15.4682V8.19822C17.908 7.57571 17.6128 6.99114 17.1149 6.61088L11.6314 2.23777C10.6707 1.47633 9.30509 1.47633 8.34443 2.23777L2.88494 6.61882C2.38513 6.99754 2.08941 7.58308 2.08325 8.20615V15.4682C2.08325 17.0506 3.37898 18.3334 4.97734 18.3334H6.58072C7.15188 18.3334 7.6149 17.875 7.6149 17.3095V17.3095"
                                            stroke="white" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>

                                </span>{{ 'sidebar.dashboard' | translate }}</a>
                        </div>
                    </div>
                </div>
                <div class="menu-scrollable">

                    <ng-container *ngFor="let group of groupedMenus; let i = index">

                        <div class="side-menus">
                            <div class="side-menu-item">
                                <a role="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#group-' + i"
                                    aria-expanded="false" class="d-flex justify-content-between align-items-center">

                                    <span class="d-flex align-items-center gap-2">
                                        <span class="side-item-icon" [innerHTML]="group.icon"></span>
                                        <span>{{ group.title }}</span>
                                    </span>

                                    <span class="ms-auto accordion-arrow">
                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15.5833 8.40584C15.4116 8.23511 15.1792 8.13928 14.9371 8.13928C14.6949 8.13928 14.4626 8.23511 14.2908 8.40584L11 11.6508L7.75499 8.40584C7.58325 8.23511 7.35091 8.13928 7.10874 8.13928C6.86657 8.13928 6.63424 8.23511 6.46249 8.40584C6.37658 8.49106 6.30838 8.59244 6.26184 8.70415C6.21531 8.81585 6.19135 8.93566 6.19135 9.05668C6.19135 9.17769 6.21531 9.2975 6.26184 9.4092C6.30838 9.52091 6.37658 9.62229 6.46249 9.70751L10.3492 13.5942C10.4344 13.6801 10.5358 13.7483 10.6475 13.7948C10.7592 13.8414 10.879 13.8653 11 13.8653C11.121 13.8653 11.2408 13.8414 11.3525 13.7948C11.4642 13.7483 11.5656 13.6801 11.6508 13.5942L15.5833 9.70751C15.6692 9.62229 15.7374 9.52091 15.784 9.4092C15.8305 9.2975 15.8545 9.17769 15.8545 9.05668C15.8545 8.93566 15.8305 8.81585 15.784 8.70415C15.7374 8.59244 15.6692 8.49106 15.5833 8.40584Z"
                                                fill="white" />
                                        </svg>
                                    </span>

                                </a>

                            </div>
                        </div>

                        <div class="collapse" [id]="'group-' + i">
                            <div class="side-menus ms-3">
                                <div class="side-menu-item" *ngFor="let item of group.items">
                                    <a [routerLink]="item.url" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }">
                                        <span class="side-item-icon" [innerHTML]="item.safeIcon"></span>

                                        {{ item.roleDisplayName }}
                                    </a>
                                </div>
                            </div>
                        </div>


                    </ng-container>

                    <div class="side-menus mt-3" *ngFor="let item of standaloneMenus">
                        <div class="side-menu-item">
                            <a [routerLink]="item.url" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">
                                <span class="side-item-icon" [innerHTML]="item.safeIcon"></span>

                                {{ item.roleDisplayName }}
                            </a>
                        </div>
                    </div>
                    <div class="side-menus">
                        <div class="side-menu-item">
                            <a (click)="logout()" style="cursor: pointer;" routerLinkActive="active"
                                data-discover="true"><span class="side-item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
                                        fill="none" stroke="white" stroke-width="1.8" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                                        <polyline points="16 17 21 12 16 7" />
                                        <line x1="21" y1="12" x2="9" y2="12" />
                                    </svg>


                                </span>Logout</a>
                        </div>
                    </div>

                </div>



            </div>
            <!-- <div class="sidebar-footer">
                <div class="sidebar-footer-inner">
                    <p class="mb-1">Looking for something?</p><a class="text-decoration-underline" href="#"
                        data-discover="true">Help &amp; Support</a>
                </div>

            </div> -->
            <!-- Sidebar footer: profile dropdown -->
            <!-- <div class="sidebar-footer">
                <div class="sidebar-footer-inner">
                    <div class="profile-footer w-100">
                        <button class="btn btn-logout w-100 d-flex align-items-center justify-content-between p-2"
                            type="button">
                            <div class="d-flex align-items-center gap-2">
                                <img [src]="user?.logo || '/assets/image/profile-image.png'" alt="" width="36"
                                    height="36" class="rounded-sm">
                                <div class="profile-right-content">
                                    <h4 class="mb-0 small-name">{{ user?.firstName }} {{ user?.lastName }}</h4>
                                    <p class="mb-0 small-role">{{ user?.email }}</p>
                                </div>
                            </div>
                            <button class="btn btn-profile" (click)="openProfile($event)" title="My Profile"
                                type="button">
                                <svg width="12" height="12" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 9l6 6 6-6" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </button>
                        </button>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</section>