<div class="pagecls">

  <!-- Header -->

  <div class="page-header">

    <div class="border-start border-4 ps-3">
      <h3 class="page-title">
        Product Price
      </h3>
    </div>

    <button
      class="btn add-btn"
      (click)="priceModal.openModal()">

      <i class="bi bi-plus-lg me-2"></i>

      Add Price

    </button>

  </div>


  <!-- Filters -->

  <div class="filters-card">

    <app-global-search
      label="Search"
      placeholder="Search Product Price"
      [showStatus]="false"
      (search)="onSearch($event)"
      (clear)="clearFilters()">

    </app-global-search>

  </div>


  <!-- Table -->

  <div class="table-card">

    <app-reusable-table

      [columns]="columns"

      [columnFields]="columnFields"

      [data]="prices"

      [showActions]="false"

      [pageable]="true"

      [totalRecords]="totalRecords"

      [pageSize]="pageSize"

      [pageIndex]="pageIndex"

      (pageChange)="onPageChange($event)">

    </app-reusable-table>

  </div>


  <app-product-price-add-edit
    #priceModal>

  </app-product-price-add-edit>

</div>