<div #feedModal class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ isEdit ? 'Edit Feed' : 'Add Feed' }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="form">

          <!-- Farm + Feed Name -->
          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label">Farm <sup class="text-danger">*</sup></label>
              <select formControlName="farmId" class="form-select" [disabled]="farmsLoading">
                <option [ngValue]="null">Select Farm</option>
                <option *ngFor="let f of farms" [value]="f.farmId">
                  {{ f.farmName }}
                </option>
              </select>

              <div *ngIf="form.get('farmId')?.touched && form.get('farmId')?.invalid" class="text-danger">
                Farm is required.
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label">Feed Name <sup class="text-danger">*</sup></label>
              <input type="text" formControlName="feedName" class="form-control" placeholder="Enter Feed Name">
              <div *ngIf="form.get('feedName')?.touched && form.get('feedName')?.invalid" class="text-danger">
                Feed Name is required.
              </div>
               <div *ngIf="form.get('feedName')?.errors?.['pattern']" class="text-danger">
                FeedName can only contain alphabets ,hyphen and spaces.
               </div>
                <div *ngIf="form.get('feedName')?.errors?.['minlength']">Minimum 3 characters.</div>
                          <div *ngIf="form.get('feedName')?.errors?.['maxlength']">Maximum 20 characters.</div>
              
            </div>

            <div class="col-md-4">
              <label class="form-label">Category <sup class="text-danger">*</sup></label>
              <input type="text" formControlName="category" class="form-control" placeholder="Enter Category">
              <div *ngIf="form.get('category')?.touched && form.get('category')?.invalid" class="text-danger">
                Category is required.
              </div>
                <div *ngIf="form.get('category')?.errors?.['pattern']" class="text-danger">
                Category can only contain alphabets ,hyphen and spaces.
               </div>
                 <div *ngIf="form.get('category')?.errors?.['minlength']">Minimum 3 characters.</div>
                          <div *ngIf="form.get('category')?.errors?.['maxlength']">Maximum 20 characters.</div>
            </div>
          </div>

          <!-- Dry Matter + Protein + NDF -->
          <div class="row g-3 mt-2">
            <div class="col-md-4">
              <label class="form-label">Dry Matter (%) <sup class="text-danger">*</sup></label>
              <input type="number" step="0.01" min="0" formControlName="dryMatter" class="form-control"
                placeholder="Enter Dry Matter %">
              <div *ngIf="form.get('dryMatter')?.touched && form.get('dryMatter')?.invalid" class="text-danger">
                Dry Matter is required.
              </div>
                <div *ngIf="form.get('dryMatter')?.errors?.['pattern']" class="text-danger">
                  DryMatter only accepts positive value.
                  </div>
            <div *ngIf="form.get('dryMatter')?.errors?.['maxDigits']" class="text-danger">
              Maximum 20 digits are allowed.
            </div>      
           </div>

            <div class="col-md-4">
              <label class="form-label">Crude Protein (%) <sup class="text-danger">*</sup></label>
              <input type="number" step="0.01" min="0" formControlName="protein" class="form-control"
                placeholder="Enter Crude Protein %">
              <div *ngIf="form.get('protein')?.touched && form.get('protein')?.invalid" class="text-danger">
                Protein is required.
              </div>
                <div *ngIf="form.get('protein')?.errors?.['pattern']" class="text-danger">
                  Protein only accepts positive value.
                  </div>
                  <div *ngIf="form.get('protein')?.errors?.['maxDigits']" class="text-danger">
              Maximum 20 digits are allowed.
            </div> 
            </div>

            <div class="col-md-4">
              <label class="form-label">NDF (%) <sup class="text-danger">*</sup></label>
              <input type="number" step="0.01" min="0" formControlName="ndf" class="form-control"
                placeholder="Enter NDF %">
              <div *ngIf="form.get('ndf')?.touched && form.get('ndf')?.invalid" class="text-danger">
                NDF is required.
              </div>
                <div *ngIf="form.get('ndf')?.errors?.['pattern']" class="text-danger">
                  NDF only accepts positive value.
                  </div>
                  <div *ngIf="form.get('ndf')?.errors?.['maxDigits']" class="text-danger">
              Maximum 20 digits are allowed.
            </div> 
            </div>
          </div>

          <!-- Energy + Price Per Kg + ADF -->
          <div class="row g-3 mt-2">
            <div class="col-md-4">
              <label class="form-label">Energy (kcal/kg) <sup class="text-danger">*</sup></label>
              <input type="number" step="0.001" min="0" formControlName="energy" class="form-control"
                placeholder="Enter Energy (kcal/kg)">
              <div *ngIf="form.get('energy')?.touched && form.get('energy')?.invalid" class="text-danger">
                Energy is required.
              </div>
                <div *ngIf="form.get('energy')?.errors?.['pattern']" class="text-danger">
                  Energy only accepts positive value.
                  </div>
                  <div *ngIf="form.get('energy')?.errors?.['maxDigits']" class="text-danger">
              Maximum 20 digits are allowed.
            </div> 
            </div>

            <div class="col-md-4">
              <label class="form-label">Price Per Kg (€) <sup class="text-danger">*</sup></label>
              <input type="number" step="0.0001" min="0" formControlName="pricePerKg" class="form-control"
                placeholder="Enter Price Per Kg (€)">
              <div *ngIf="form.get('pricePerKg')?.touched && form.get('pricePerKg')?.invalid" class="text-danger">
                Price Per Kg is required.
              </div>
                <div *ngIf="form.get('pricePerKg')?.errors?.['pattern']" class="text-danger">
                  Price Per Kg only accepts positive value.
                  </div>
                  <div *ngIf="form.get('pricePerKg')?.errors?.['maxDigits']" class="text-danger">
              Maximum 20 digits are allowed.
            </div> 
            </div>

            <div class="col-md-4">
              <label class="form-label">ADF (%) <sup class="text-danger">*</sup></label>
              <input type="number" step="0.01" min="0" formControlName="adf" class="form-control"
                placeholder="Enter ADF %">
              <div *ngIf="form.get('adf')?.touched && form.get('adf')?.invalid" class="text-danger">
                ADF is required.
              </div>
                <div *ngIf="form.get('adf')?.errors?.['pattern']" class="text-danger">
                  ADF only accepts positive value.
                  </div>
                  <div *ngIf="form.get('adf')?.errors?.['maxDigits']" class="text-danger">
              Maximum 20 digits are allowed.
            </div> 
            </div>
          </div>

          <!-- Fat Content + Calcium + Phosphorus -->
          <div class="row g-3 mt-2">
            <div class="col-md-4">
              <label class="form-label">Fat Content (%) <sup class="text-danger">*</sup></label>
              <input type="number" step="0.01" min="0" formControlName="fatContent" class="form-control"
                placeholder="Enter Fat Content %">
              <div *ngIf="form.get('fatContent')?.touched && form.get('fatContent')?.invalid" class="text-danger">
                Fat Content is required.
              </div>
                <div *ngIf="form.get('fatContent')?.errors?.['pattern']" class="text-danger">
                  Fat Content only accepts positive value.
                  </div>
                  <div *ngIf="form.get('fatContent')?.errors?.['maxDigits']" class="text-danger">
              Maximum 20 digits are allowed.
            </div> 
            </div>

            <div class="col-md-4">
              <label class="form-label">Calcium (%) <sup class="text-danger">*</sup></label>
              <input type="number" step="0.001" min="0" formControlName="calcium" class="form-control"
                placeholder="Enter Calcium %">
              <div *ngIf="form.get('calcium')?.touched && form.get('calcium')?.invalid" class="text-danger">
                Calcium is required.
              </div>
                <div *ngIf="form.get('calcium')?.errors?.['pattern']" class="text-danger">
                  Calcium only accepts positive value.
                  </div>
                  <div *ngIf="form.get('calcium')?.errors?.['maxDigits']" class="text-danger">
              Maximum 20 digits are allowed.
            </div> 
            </div>

            <div class="col-md-4">
              <label class="form-label">Phosphorus (%) <sup class="text-danger">*</sup></label>
              <input type="number" step="0.001" min="0" formControlName="phosphorus" class="form-control"
                placeholder="Enter Phosphorus %">
              <div *ngIf="form.get('phosphorus')?.touched && form.get('phosphorus')?.invalid" class="text-danger">
                Phosphorus is required.
              </div>
                <div *ngIf="form.get('phosphorus')?.errors?.['pattern']" class="text-danger">
                  Phosphorus only accepts positive value.
                  </div>
                  <div *ngIf="form.get('phosphorus')?.errors?.['maxDigits']" class="text-danger">
              Maximum 20 digits are allowed.
            </div> 
            </div>
          </div>
          <div class="row g-3 mt-2">
            <div class="col-md-4">
              <label class="form-label">Starch (%) <sup class="text-danger">*</sup></label>
              <input type="number" step="0.01" min="0" formControlName="starch" class="form-control"
                placeholder="Enter Starch %">
              <div *ngIf="form.get('starch')?.touched && form.get('starch')?.invalid" class="text-danger">
                Starch is required.
              </div>
                <div *ngIf="form.get('starch')?.errors?.['pattern']" class="text-danger">
                  Starch only accepts positive value.
                  </div>
                  <div *ngIf="form.get('starch')?.errors?.['maxDigits']" class="text-danger">
              Maximum 20 digits are allowed.
            </div> 
            </div>
          </div>
        </form>

      </div>

      <div class="modal-footer">
        <button class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
        <button class="btn add-btn" (click)="saveFeed()">
          {{ isEdit ? 'Update' : 'Save' }}
        </button>
      </div>

    </div>
  </div>
</div>